.title {
    width:95%;
    margin:0 auto;
    background-color:rgba(211, 211, 211, 0.527);
    height: 90px;
    padding-top:10px;
    margin-bottom:20px;
}

.centerPost {
    display:flex;
    align-items:center;
}

.SearchFor {
    display:inline-flex;
    justify-content:center;
}
.SearchFor i {
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left: 5px;
    transition: width 0.4s ease-in-out;
}

.SearchFor input:focus-within {
    width:250px;
    overflow:visible;
    transition: width 0.4s ease-out;
}
