.NavBar {
    background-color:#DCEDC8;
    font-size:large;
    height:75px;
    border-top: 4px solid darkgreen;
    font-weight:600;
}

nav img {
    margin-bottom:75px;
    overflow:visible;

}

nav a {
    color:lightslategrey;
    text-decoration:none;
    padding: 0 10px 0 10px;
}

#nav-central {
    justify-content:center;
}

nav a:hover{
    color:saddlebrown;
    font-size:large;
}

.Active i {
    color:saddlebrown;
}