.first_button {
    background-color: saddlebrown;
    border-radius: 15px;
    color:white;
    border: none;

}

.first_button:hover {
    background-color: white;
    color:saddlebrown;
    border: 2px solid saddlebrown;
    border-radius: 15px;

}

.BoxForm {
    border: 2px solid saddlebrown;
    min-height:357px;
}

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }