form {
    width: 75%;
    margin:0 auto;
}

.InputPlace {
    text-align:center;
}

.existing {
    padding-top:25px;
    margin: 0 auto;
}

@media screen and (min-width: 721px){
    form {
        width:50%;
        margin:0 auto;
    }

     .first_name {
        width:30%;
        display:inline-block;
    }
    .family_name {
        width:70%;
        padding-left:5px;
        display:inline-block;
    }

}